.Menu {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;

    &__item {
      padding: 15px;
      border-bottom: 1px solid #eee;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: #fcfcfc;
        background-color: $base-color;
      }
    }
  }
}
