.SearchBar {
  width: 85%;
  position: relative;

  &__input {
    width: 100%;
    padding: 8px 30px 8px 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    font-size: 0.9rem;
    transition: all 0.3s ease-in-out;
    &:hover {
      border: 1px solid $base-color;
    }

    &:focus {
      border: 1px solid $base-color;
      box-shadow: 0 0 2px 2px rgba(255, 0, 0, 0.2);
    }
  }

  &__submit-btn {
    position: absolute;
    right: -2rem;
    top: 0;
    padding-top: 8px;
  }
}
