.ContentsList {
  flex: 1;
  margin: 0 1rem 1rem 1rem;
  padding: 1rem 2rem;
  border: 1px solid #eee;
  border-radius: 5px;
  box-shadow: 6px 6px 0 0 $base-color;
  background-color: $background-color;

  &__header {
    position: relative;
    margin-bottom: 0.8rem;
    padding: 0 0 0.9rem 0.5rem;
    border-bottom: 1px solid #eee;
    font-size: 1.1rem;
    font-weight: bold;

    &__toggle-btn {
      position: absolute;
      right: 0;
      top: 0;
      transition: all 0.2s ease-in-out;

      &:hover {
        color: $base-color;
      }
    }
  }

  &__main {
    &__list {
      &__item {
        padding: 0.7rem 0;
        border-bottom: 1px solid #eee;

        .header {
          margin-bottom: 0.5rem;

          span {
            margin-right: 1rem;
            font-size: 0.9rem;
            color: rgba(0, 0, 0, 0.4);
            transition: all 0.2s ease-in-out;

            &:first-of-type {
              color: rgba(0, 0, 0, 0.8);
            }

            &:hover {
              color: $base-color;
            }
          }

          &__username {
            position: relative;

            &__modal {
              position: absolute;
              bottom: 0;
              transform: translateY(100%);
              z-index: 90;
              text-align: right;
              width: 260%;
              padding: 0.5rem 1rem;
              border: 1px solid rgb(206, 206, 206);
              font-size: 0.9rem;
              background-color: #fcfcfc;

              .title {
                text-align: left;
                padding-bottom: 0.5rem;
                margin-bottom: 0.5rem;
                border-bottom: 1px solid #eee;
                line-height: 1.5rem;
                color: rgba(0, 0, 0, 0.6);
              }

              button {
                padding: 0.5rem;
                border: 1px solid #eee;
                border-radius: 5px;
              }

              .subscribe-btn {
                color: $base-color;
                border-color: $base-color;
              }

              .unsubscribe-btn {
                color: #fcfcfc;
                background-color: $base-color;
                border-color: $base-color;
              }
            }
          }
        }

        .main {
          display: flex;

          &__thumbnail {
            img {
              height: 100px;
            }
          }

          &__info {
            padding: 0.3rem 1rem;

            .title {
              margin-bottom: 0.5rem;
              font-size: 1.2rem;
              font-weight: bold;
            }

            .summary {
              margin-bottom: 1rem;
            }

            .utils {
              .like-btn {
                margin-right: 0.5rem;
              }
            }
          }
        }
      }
    }
  }
}
